<div class="container">
  <div class="row">
    <div class="header">
      <h1>Welcome <span class="member-name"></span></h1>
    </div>
  </div>
</div>
<div class="container">
  <figure class="figure">
    <img src="https://miro.medium.com/max/950/1*_JR5_qc4efQmjPuSJ4fRBA.png" class="figure-img img-fluid rounded"
      alt="main image">
  </figure>
  <div class="row">
    <div class="header">
      <h2 class="health">HEALTH</h2>
    </div>
    <div class="content col-md-12">
      <h3>Article 1</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo quas
        architecto. Temporibus eaque accusantium recusandae aut illo nobis, fugit natus dignissimos laboriosam? Ratione
        repellat quas vero soluta laboriosam accusamus?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="content col-md-12">
      <h3>Article 2</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo quas
        architecto. Temporibus eaque accusantium recusandae aut illo nobis, fugit natus dignissimos laboriosam? Ratione
        repellat quas vero soluta laboriosam accusamus?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="header">
      <h2 class="health">MOVIES</h2>
    </div>
    <div class="content col-md-12">
      <h3>Article 1</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam laudantium porro
        dolor quo, fugiat voluptatibus ex impedit facere architecto nulla totam beatae fuga perspiciatis ipsa sapiente
        odit sint reiciendis mollitia!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="content col-md-12">
      <h3>Article 2</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo quas
        architecto. Temporibus eaque accusantium recusandae aut illo nobis, fugit natus dignissimos laboriosam? Ratione
        repellat quas vero soluta laboriosam accusamus?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="header">
      <h2 class="health">MUSIC</h2>
    </div>
    <div class="content col-md-12">
      <h3>Article 1</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo quas
        architecto. Temporibus eaque accusantium recusandae aut illo nobis, fugit natus dignissimos laboriosam? Ratione
        repellat quas vero soluta laboriosam accusamus?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="content col-md-12">
      <h3>Article 2</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo quas
        architecto. Temporibus eaque accusantium recusandae aut illo nobis, fugit natus dignissimos laboriosam? Ratione
        repellat quas vero soluta laboriosam accusamus?
      </p>
    </div>
  </div>
  <div class="row">
    <div class="header">
      <h2 class="health">TECH</h2>
    </div>
    <div class="content col-md-12">
      <h3>Article 1</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam laudantium porro
        dolor quo, fugiat voluptatibus ex impedit facere architecto nulla totam beatae fuga perspiciatis ipsa sapiente
        odit sint reiciendis mollitia!
      </p>
    </div>
  </div>
  <div class="row">
    <div class="content col-md-12">
      <h3>Article 2</h3>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias aliquid rerum, consequatur laborum
        distinctio
        provident facilis quasi nam veritatis deserunt sapiente repellat dicta dolorum corrupti veniam aspernatur
        accusamus atque recusandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo quas
        architecto. Temporibus eaque accusantium recusandae aut illo nobis, fugit natus dignissimos laboriosam? Ratione
        repellat quas vero soluta laboriosam accusamus?
      </p>
    </div>
  </div>
</div>


<script type="text/javascript" src="js/members.js"></script>