<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
        {{!-- socket.io message container  --}}
        <div id="message-container"></div>
        <form id="send-container">
          <input type="text" id="message-input">
          <button type="submit" id="send-button">Send</button>
        </form>

      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/members.js"></script>