form.signup,
form.login {
  margin-top: 50px;
}

.navbar-brand {
  padding-left: 30px;
}

body {
  background-color: aqua;
}

.figure-img {
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: auto;
}

.container {
  justify-content: center;

}

h2 {
  text-align: center;
}

h3 {
  margin-top: 5px;
}

.health {
  font-family: 'Squada One', cursive;
  font-weight: bold;
  font-size: 50px;
}

.movies {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  font-size: 50px;
}

.music {
  font-family: 'Righteous', cursive;
  font-weight: bold;
  font-size: 50px;
}

.tech {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.article {
  border: solid;
  padding: 10px;
  margin: 10px;
}

.row {
  padding: 10px;
  margin: 10px;
}
